<launch>   
  
  <!-- start nodelet manager and driver nodelets -->
  <!--include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
    <arg name="device_ip" value=""/>
    <arg name="frame_id" value="velodyne"/>
    <arg name="manager" value="velodyne_nodelet_manager" />
    <arg name="model" value="VLP16"/>
    <arg name="pcap" value=""/>
    <arg name="port" value="2368"/>
    <arg name="read_fast" value="false"/>
    <arg name="read_once" value="false"/>
    <arg name="repeat_delay" value="0.0"/>
    <arg name="rpm" value="600"/>
    <arg name="gps_time" value="false"/>
    <arg name="cut_angle" value="-0.01"/>
    <arg name="timestamp_first_packet" value="false"/>
  </include-->

  <!-- start cloud nodelet -->
  <!--include file="$(find velodyne_pointcloud)/launch/transform_nodelet.launch">
    <arg name="model" value="VLP16"/>
    <arg name="calibration" value="$(find velodyne_pointcloud)/params/VLP16db.yaml"/> 
    <arg name="manager" value="velodyne_nodelet_manager" />
    <arg name="max_range" value="130.0"/>
    <arg name="min_range" value="0.4"/>
    <arg name="organize_cloud" value="false"/>
  </include-->

  <!-- start PointCloud Fast Filter -->
  <node name="velodyne" pkg="pff" type="velodyne">
    <param name="robot_height" value="2.0"/> <!-- Default 1.0 (100cm) -->
    <param name="sensor_height" value="0.65"/> <!-- Default 0.57 (57cm) -->
    <param name="horizontal_fov" value="360"/> <!-- Default 360° -->
    <param name="resolution" value="0.2"/> <!-- Default 0.2° -->
    <param name="topic_pub" value="/scan"/> <!-- Default /scan -->
    <param name="topic_sub" value="/velodyne_points"/> <!-- Default velodyne_points -->
    <param name="frame_id" value="base_link"/> <!-- Default base_scan -->
  </node> 

  <!-- start Turtlebot -->
  <!--include file="$(find turtlebot_bringup)/launch/minimal.launch"/-->

  <!--arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/--> 
  

  <!-- Map server -->
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find pff)/maps/office.yaml" /-->

  <!-- AMCL -->
  <!--arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/amcl.launch.xml"/>
  <arg name="initial_pose_x" default="13.7"/> 
  <arg name="initial_pose_y" default="33.26"/> 
  <arg name="initial_pose_a" default="-1.6"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include-->

  <!-- Move base -->
  <!--arg name="custom_param_file" default="$(find turtlebot_navigation)/param/$(arg 3d_sensor)_costmap_params.yaml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pff)/rviz_cfg/navigation.rviz"/-->

</launch>
